p{
    margin-block-start: 6px;
    margin-block-end: 6px;
}
.list-group-item{
    width: 25%;
    padding: 0.25rem .75rem;
    font-size: 12px;
    
}
@media only screen and (max-width: 700px) {
    .list-group-item{
        width: 50%;
    }
}
h1{
    font-size: 24px !important;
}
.home-description {
    width: 50%
}
.left {
    float: left;
}

.right {
    float: right;
}
.list-group-item+.list-group-item {
    border-top-width: 1px; 
}
.list-group-item {
    color: #0c5460;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-color: #bee5eb;
}
.col-6{
    padding-right: 15px;
    padding-left: 0px;
}