.jumbotron{
    text-align: center;
    padding: 5px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.mypanel{
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 26px !important;
}
.mb-4, .my-4 {
    margin-bottom: 0!important;
}

.mt-4, .my-4 {
    margin-top: 0!important;
}