.jumbotron{
    text-align: center;
    padding: 5px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.mypanel{
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 26px !important;
}
.mb-4, .my-4 {
    margin-bottom: 0!important;
}

.mt-4, .my-4 {
    margin-top: 0!important;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
:not(svg) {
    transform-origin: 0px 0px;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
.mr-2, .mx-2 {
    margin-right: .5rem!important;
}
.rounded {
    border-radius: .25rem!important;
}